<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">Contact</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="index.html">Home</a>
  </li>
  <li class="breadcrumb-item active">Contact</li>
</ol>

<!-- Contact Form -->
<div class="row">
  <div class="col-lg-8 mb-4">
    <!-- <h2 style="margin-top:56px;">Send us a Message</h2> -->
    <h2 class="my-5 text-center">Send me a Message</h2>
    <form
      action="https://formspree.io/f/jbilalat@gmail.com"
      method="POST"
      name="sentMessage"
      id="contactForm"
    >
      <p>All form fields are required.</p>
      <div class="control-group form-group">
        <div class="controls">
          <label>Full Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            data-validation-required-message="Please enter your name."
            name="name"
          />
          <p class="help-block"></p>
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Email Address:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            required
            data-validation-required-message="Please enter your email address."
            name="email"
          />
        </div>
      </div>
      <div class="control-group form-group">
        <div class="controls">
          <label>Message:</label>
          <textarea
            rows="10"
            cols="100"
            class="form-control"
            id="message"
            required
            data-validation-required-message="Please enter your message"
            name="message"
            maxlength="999"
            style="resize: none"
          ></textarea>
        </div>
      </div>
      <div id="success"></div>
      <!-- For success/fail messages -->
      <button type="submit" class="btn btn-primary" id="sendMessageButton">
        Send
      </button>
    </form>
  </div>
</div>
<!-- /.row -->
