<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index.html">Jerick Bilalat</a>
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="<%= current.source == 'index' || current.source == 'portfolio_page_2' ? 'nav-link active': 'nav-link' %>"
            href="index.html"
            >Portfolio
          </a>
        </li>
        <li class="nav-item">
          <a
            class="<%= current.source == 'blog' ? 'nav-link active': 'nav-link' %>"
            href="blog.html"
            >Blog
          </a>
        </li>
        <li class="nav-item">
          <a
            class="<%= current.source == 'resume' ? 'nav-link active': 'nav-link' %>"
            href="resume.html"
            >Resume
          </a>
        </li>
        <li class="nav-item">
          <a
            class="<%= current.source == 'contact' ? 'nav-link active': 'nav-link' %>"
            href="contact.html"
            >Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
